<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="{{ "/" | relative_url }}" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->
    <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
    {%- if site.author -%}
    {{ site.author | escape }}
  {%- else -%}
    {{ site.title | escape }}
  {%- endif -%}
  </li>
  {%- if site.email -%}
  <li class="ms-3"><a class="text-muted" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
  {%- endif -%}


    <!-- <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li> -->
  </ul>
</footer>

<!-- <footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer> -->
<button class="back-to-top hidden"><svg
  xmlns="http://www.w3.org/2000/svg"
  class="back-to-top-icon"
  fill="none"
  viewBox="0 0 24 24"
  stroke="currentColor"
>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    d="M7 11l5-5m0 0l5 5m-5-5v12"
  />
</svg></button>

<script src="/assets/vendor/bootstrap/javascripts/bootstrap.min.js"></script>
<script src="{% link /assets/backtotop.js %}"></script>
<script src="{% link /assets/nav.js %}"></script>