.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: #141c38;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
     :hover{
        opacity: 60%;
     }
}

.back-to-top-icon {
    width: 1rem;
    height: 1rem;
    color: hsl(210, 17%, 95%);
  }

.hidden {   
    display: none;
}