<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}
<div class="container">
    
    <div class="row">
      <div class="col-md-3">
        <div class="position-sticky" style="top:5rem;">
          Other info<br/>Left menu?
        </div>
      </div>
      <div class="col-md-9">
        {{ content }}
      </div>
    </div>
        
    

    {%- include footer.html -%}

  </div>
    
  </body>

</html>
