---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}


      <div class="d-flex my-1">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        
        <div class="flex-shrink-0" style="max-width: 25%;min-width: 10%;">
          {% if post.header.teaser %}
          <img src="{{ post.header.teaser | relative_url }}" alt="Teaser Image" style="width: 100%;"/>
          {% endif %}
        </div>
        
        <div class="flex-grow-1 ms-3">
          <h5>
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title | escape }}</a>
            <small class="text-muted"><i>Posted by
              {% if post.author %}
              {{ post.author }}
              {% else %}
              {{ site.author }}
              {% endif %}
              on
              {{ post.date | date: date_format }} </i></small>
          </h5>
          <p>

            {% if post.subtitle %}
            {{ post.subtitle | escape }}
            {% else %}
            {{ post.excerpt | strip_html | truncatewords: 15 }}
            {% endif %}
          </p>
        </div>
      </div>


      <!-- <article class="post-preview">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
          <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
          {% if post.subtitle %}
          <h3 class="post-subtitle">{{ post.subtitle | escape }}</h3>
          {% else %}
          <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
          {% endif %}
        
        <p class="post-meta">Posted by
          {% if post.author %}
          {{ post.author }}
          {% else %}
          {{ site.author }}
          {% endif %}
          on
          {{ post.date | date: date_format }} 
        </p>
      </article> -->




      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
